---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/ChHV_web/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script src="../app.js"></script>
	</head>
	<body>
		<h1 class="linear-wipe">ЧХВ</h1>
		<div class="inline-flex rounded-md shadow-sm">
			<a href="/ChHV_web/readme" aria-current="page" class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Инструкция
			</a>
			<button id="verboseButton" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Verbose
			</button>
			<button id="copyButton" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
				Копировать
			</button>
		</div>
		<div id="wrapper">
			<div id="left">
				<textarea id="message" rows="20" wrap="off" class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
			</div>
			<div id="right">
				<textarea id="output" readonly rows="20" wrap="off" class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
			</div>
		</div>
	</body>
</html>

<style>
	h1 { font-size: 10vw; }
	.linear-wipe {
		text-align: center;
  
		background: linear-gradient(to right, #ff6f09 20%, #FF0 40%, #FF0 60%, #ff6f09 80%);
		background-size: 200% auto;
		
		color: #FFF;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
		animation: shine 1s linear infinite;
		@keyframes shine {
			to {
			background-position: 200% center;
			}
		}
	}
	#wrapper {
		display: flex;
	}
	
	#left {
		width: 50%;
	}
	
	#right {
		width: 50%;
	}
	
</style>